html, body {
    font-family: "Roboto", sans-serif;
}
.header{
    background: url(image/back.jfif);
}
.header_about {
    color:  black;
}
.header_fio {
    font-weight: 700;
}
.header_img {
    display: inline-block;
}
.header_fio {
    display: inline;
}
.header_about_text {
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
    opacity: 0.9;
}
.sait1 {
    width: 200px;
    height: 200px;
}
.sait2 {
    width: 200px;
    height: 200px;
}
.sait22 {
    width: 200px;
    height: 200px;
}





